@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  font-family: "Kumbh Sans", sans-serif;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.card {
  display: flex;
  width: 60rem;
  height: 33rem;
  background-color: white;
  border-radius: 20px;
  margin: 1rem;
  box-shadow: 5px 10px 50px #5931b1;
  background-image: url(/images/bg-pattern-desktop.svg);
  background-repeat: no-repeat;
  background-position-x: -36rem;
  background-position-y: -17rem;
}

.image-wrapper {
  width: 50%;
  background-image: url(/images/illustration-woman-online-desktop.svg);
  background-repeat: no-repeat;
  background-position-x: -4.5rem;
  background-position-y: 5rem;
  position: relative;
}

.image-wrapper img {
  position: absolute;
  top: 13rem;
  left: -5.8rem;
}

.faq-wrapper {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  margin-top: 3rem;
  margin-left: 3rem;
  margin-bottom: 2rem;
  color: hsl(238, 29%, 16%);
}

.questions-wrapper {
  margin-bottom: 1.4rem;
  margin-right: 5rem;
  margin-left: 3rem;
}

.questions-wrapper:after {
  content: '';
  display: flex;
  width: 92%;
  border-bottom: solid 1px hsl(240, 5%, 91%);
  margin-top: 1.5rem;
}

.question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin-bottom: .5rem;
}

.answer {
  padding-top: .7rem;
}

p {
  font-size: 14px;
  font-weight: 400;
  color: hsl(240, 6%, 50%);
}

.hidden {
  display: none;
}

p:hover {
  color: hsl(14, 88%, 65%);
}

.image-wrapper img:hover {
  top: 12.5rem;
  transition-duration: .3s;
}